.title {
    color: var(--white);
    font-size: 4rem;
    text-shadow: 1px 1px var(--grey);
}

.title img {
    position: relative;
    width: 30px;
    top: 45px;
    padding: 2px;
}

.title .left {
    margin-left: 50px;
    padding-left: 20px;
    display: inline-block;
}

.title .right {
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .title {
        width: 500px;
        margin-left: -85px;
        font-size: 3rem;
    }
}
